*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html,body{
  width:100%;
  overflow-x:hidden;
}

.row{
  display:flex;
  gap:10px;
  flex-direction:column;
  align-items:center;
  flex: 1;
  white-space: nowrap;
}

.row .item{
  width:300px;
  display:flex;
  flex-direction:column;
}
.row .item *{
  width:100%;
}

.row select{
  height:30px;
  padding:5px 10px;
  border:1px solid #aaa;
  border-radius:5px;
  margin:10px 0;
  outline:none;
}

.row .label{
  font-size:0.8em;
  display:inline-block;
  margin:0 5px 0 0;
  padding:0;
}

.row input{
  display:block;
  margin:10px 0;
  width:100%;
  padding:5px 10px;
  border:1px solid #aaa;
  border-radius:5px;
  height:30px;
  outline:none;
}

.message{
  width:90%;
  border:1px solid #ddd;
  font-size:0.9em;
  padding:10px;
  margin:20px auto;
}